*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.nav-link{
    display: inline-block;
    color: #3A3838;
    line-height: 21px;
    font-size: 18px;
    padding: 43px 15px 42px 15px;
    transition: 0.5s;
    font-weight: 700;
}

.nav-link:hover{
    color: #EF4423;
}

.logo2{
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.main{
    margin-top: 36px;
}
.main-content{
    display: flex;
}

.main-title1{
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 8px 15px;
}

.main-text1{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
    padding: 8px 15px;
}
.main-img1{
    width: 100%;
    display: flex;
    flex-grow: 1;
}
.card1{
    background: #B71C1C;
    display: flex;
    flex-direction: column;
    
}
.card2{
    background: #6A1B9A;
    display: flex;
    flex-direction: column;
}
.card3{
    background: #303F9F;
    display: flex;
    flex-direction: column;
}
.card4{
    background: #00695C;
    display: flex;
    flex-direction: column;
}

.main-title2{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3A3838;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.main2{
    background: #EDEDED;
}

.container2{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.main-content2{
    display: flex;
}

.card5{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.main-title3{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3A3838;
}
.main-text2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #686868;
    margin-top: 30px;
}

.footer-nav{
    background: #3A3838;
    margin-top: 50px;
}


.footer-container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list{
    display: flex;
}

.footer-link{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 53px 15px 54px 15px;
    transition: 0.5s;
}

.footer-link:hover{
    color: #EF4423;
}

.footer-logo-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}